h3 {
    border-bottom: 1px solid black ;
}

.AddTask{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.AddTask .input-container{
    display: flex;
    flex-direction: column;
}

.input-container input{
    margin-bottom: 15px;
    border: none;
    width: 20em;
    height: 30px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.add-btn{
    width: 120px;
    height: 30px;
    border: none;
    border-radius: 3px;
    margin-top: 30px;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

