.App{
  width: 50%;
  background-color: rgb(148, 147, 147);
  margin-top: 100px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: white;
}

.nav{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.nav button{
  width: 150px;
  height: 50px;
  border: none;
  margin-right: 10px;
  color: white;
  /* background-color: rgb(204, 203, 203); */
  background-color: rgb(148, 147, 147);
  border-bottom: 3px solid black;
  font-size: 20px;
  transition: border-bottom 0.1s ease-in-out 0.05s;
}

.nav button:hover{
  border-bottom: 5px solid black;
}

.taskList{
  margin-top: 25px;
}
