.App{
  width: 50%;
  background-color: rgb(148, 147, 147);
  margin-top: 100px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: white;
}

.nav{
  display: flex;
  justify-content: center;
}

.nav button{
  border: none;
  border-radius: 3px;
  width: 150px;
  height: 50px;
  margin-right: 10px;
  background-color: rgb(204, 203, 203);
  border-bottom: 3px solid black;
  font-size: 20px;
}

.taskList{
  margin-top: 25px;
}

.btn-link{
  text-decoration: none;
  color: white;
}